.container {
  text-align: center;
}
.error {
  text-align: center;
  width: 100%;
  border: 2px solid rgb(128, 128, 128);
  background-color: rgb(221, 221, 221);
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}